.Home {
    color: #393939;
}

.Home h1{
    font-family: Lexend Deca;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    max-width: 684px;
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
    margin-bottom: 64px;
}

.Home span {
    color: #E0A449;
    font-weight: bold;
}