.FavoritePage {
    color: #393939;
    font-family: Lexend Deca;
}

.Favorites_title {
    text-align: center;
}
.Favorites_title div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 auto;
    color: #F17900 !important;
}
.Favorites_title h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin: 0;
    text-transform: capitalize;
}

@media(max-width:768px) {
    .Favorites_title h1 {
        font-size: 48px;
        line-height: 60px;
    }
}